body {
  font-family: helvetica;
}
main, .inner, .always_three {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: #444;
  height: 90px;
}
nav img {
  display: inline-block;
  float: left;
  margin-right: 75px;
  margin-top: 10px;
}
li {
  display: inline-block;
  margin-top: 40px;
  margin-right: 75px;
  text-decoration: none;
  color: #888;
}
.hero {
  margin: 30px auto 30px auto;
}
.always_three {
  height: 375px;
}
.always_three img {
  width: 300px;
  float: left;
}
.always_three img:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.featured_section {
  margin-top: 30px;
  height: 400px;
}
.featured_section img {
  float: left;
  width: 50%;
  margin-right: 30px;
  margin-bottom: 30px;
}
.right p {
  height: 320px;
  overflow: auto;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
 }
.right h2 {
  font-size: 24px;
  padding: 5px;
}
 footer {
  clear: both;
  background: #444;
  height: 150px;
 }
button {
  margin-top: 5px;
  padding: 10px;
  width: 20%;
  border-radius: 3px;
  transition:350ms;
  color: #888;
  font-size: 12px;
}
 button:hover {
   background: #444;
 }
